## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 8
print (a)

8

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (10.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (a)

int

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = ("john")
print (mi_nombre)

john

5) Crear una variable que contenga un número complejo

In [5]:
Numero_complejo = 5 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type (Numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var = 'True'
var1 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print('el tipo de variable es', type (var),'y la segunda variable es de tipo',type (var1))

el tipo de variable es <class 'str'> y la segunda variable es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
b = 8.2 + 9
print (b)

17.2

11) Realizar una operación de suma de números complejos

In [11]:
a = 8 + 9j
b = 12 + 8j
print(a+b)

(20+17j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
c = a + 2.13
print (a)
print (c)

(8+9j)
(10.129999999999999+9j)

13) Realizar una operación de multiplicación

In [13]:
print(95 * 11)

1045

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
a = 95 / 8
print(a)

11.875

16) De la división anterior solamente mostrar la parte entera

In [16]:
print(95 // 8 )

11

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
95 % 8

7

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
11 * 8 + 7

95

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
var1 = 'ciudad '
var2 = 'de chile'
print(var1 + var2)

ciudad de chile

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [23]:
var = 3
var -= 1
print (var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [24]:
2<<2
print ('la operacion es igual a 8, ya que se desplaza dos lugares de 0010 al 1000')

la operacion es igual a 8, ya que se desplaza dos lugares de 0010 al 1000

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [25]:
print('la operacion no se puede realizar ya que no son del mismo tipo')
print ('al poner los dos terminos del mismo tipo se puede realizar la opéracion ')
2 + int ('2')

la operacion no se puede realizar ya que no son del mismo tipo
al poner los dos terminos del mismo tipo se puede realizar la opéracion

4

26) Realizar una operación válida entre valores de tipo entero y string

In [26]:
var = 'hay '
var1 = 2
print (var * var1 +str(var1)+ ' matas')

hay hay 2 matas